<div
  #modal
  [@slideInOut]
  [ngClass]="' ' + maxWidth"
  class="fixed z-[1000] modal w-full xs:w-[75vw]"
  *ngIf="isOpen.value"
>
  <div class="relative p-5 max-w-max xs:max-w-3xl">
    <!-- Container -->
    <div class="grid grid-cols-1 md:grid-cols-1">
      <!-- Add Menu Item Card -->

      <div
        class="rounded-lg bg-white shadow-md transition-shadow duration-300 hover:shadow-lg dark:bg-[rgb(36_38_40)] dark:text-gray-100 dark:hover:shadow-inner-pressed dark:hover:shadow-blue-500/20"
      >
        <span class=""
          ><mat-progress-bar
            class="!h-1 text-blue-600"
            mode="indeterminate"
            value="40"
            *ngIf="loading"
          >
          </mat-progress-bar
        ></span>
        <div class="p-6">
          <h2 class="mb-4 text-2xl font-bold text-gray-800 dark:text-gray-300">
            {{ title }}
          </h2>

          <ng-content> </ng-content>
        </div>
      </div>
    </div>
    <button
      title="close modal"
      (click)="close()"
      class="absolute right-9 top-9 rounded-full p-2 text-blue-500 transition-colors duration-200 hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-blue-400 dark:hover:bg-blue-400/60 dark:hover:text-gray-100 dark:focus:ring-blue-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
</div>
<div
  *ngIf="isOpen.value && hasBackdropBlur"
  class="fixed bottom-0 left-0 right-0 top-0 z-[200] h-screen w-screen overflow-hidden bg-gray-600/[.06] backdrop-blur-sm dark:bg-gray-50/[.02]"
></div>
