@if ((!isConsent || !isExtensionInstalled) && forwardCookiesBtnEnabled) {
  <div
    class="modal-overlay bg-gray-900/[.5]"
    >
    <div
      class="modal-content relative bg-gray-100 dark:bg-gray6 dark:text-gray-100 text-gray5"
      >
      @if(!isConsent && forwardCookiesBtnEnabled) {
        <div>
          <h2>{{ 'CONSENT.TITLE' | translate }}</h2>
          <p>
            {{ 'CONSENT.BODY' | translate }}
          </p>
        </div>
        } @if(!isExtensionInstalled && forwardCookiesBtnEnabled) {
        <div>
          <h2>{{ 'CONSENT.EXT_TITLE' | translate }}</h2>
          <p>{{ 'CONSENT.EXT_BODY' | translate }}</p>
        </div>
      }
      <button
        title="close"
        appRipple
        ripplColor="dark"
        class="!absolute top-2 right-2 flex flex-col items-center cursor-pointer justify-center dark:text-gray-100 border border-transparent focus:border-gray1 focus:border text-center bg-transparent hover:bg-gray-200 dark:hover:bg-gray-700 p-1 rounded-full transition-[colors,border]"
        (click)="declineExtension()"
        >
        <mat-icon>close</mat-icon>
      </button>
      <div class="buttons">
        @if (!isConsent) {
          <button
            appRipple
            ripplColor="dark"
            (click)="acceptConsent()"
            class="text-gray6 dark:text-gray-100 hover:text-gray6 hover:bg-gray4/[.1] hover:dark:bg-gray-400/[.4]"
            >
            {{ 'CONSENT.ACCEPT' | translate }}
          </button>
        }
        @if (!isConsent) {
          <button
            appRipple
            ripplColor="dark"
            (click)="declineConsent()"
            class="text-gray6 dark:text-gray-100 hover:text-gray6 hover:bg-gray4/[.1] hover:dark:bg-gray-400/[.4]"
            >
            {{ 'CONSENT.DECLINE' | translate }}
          </button>
        }
        @if (!isExtensionInstalled && forwardCookiesBtnEnabled) {
          <button
            appRipple
            ripplColor="dark"
            class="text-gray6 dark:text-gray-100 hover:text-gray6 hover:bg-gray4/[.1] hover:dark:bg-gray-400/[.4]"
            (click)="downloadExtension()"
            >
            {{ 'CONSENT.DOWNLOAD_EXT' | translate }}
          </button>
        }
      </div>
    </div>
  </div>
}
