<!-- Stepper -->
<div
  class="relative grid grid-cols-2 auto-cols-max auto-rows-max grid-flow-row sm:grid-flow-col sm:grid-cols-3 mb-8"
>
  <div *ngFor="let step of [1, 2, 3, 4]" class="flex items-center w-full">
    <button
      type="button"
      class="flex items-center p-2 rounded-md dark:hover:bg-gray-600/10 hover:bg-blue-400/10"
    >
      <div
        [class.bg-blue-500]="step <= currentStep"
        [class.bg-gray-300]="step > currentStep"
        [class.text-white]="step <= currentStep"
        [class.dark:bg-blue-800]="step <= currentStep"
        [class.dark:bg-gray-600]="step > currentStep"
        [class.dark:text-gray-100]="step <= currentStep"
        class="max-w-8 h-8 rounded-full flex items-center justify-center transition-colors min-w-8 w-full"
      >
        {{ step }}
      </div>
      <span class="ml-2 text-sm text-gray-700 dark:text-gray-300">
        {{
          step === 1
            ? "Select Image"
            : step === 2
            ? "Settings"
            : step === 3
            ? "Advanced"
            : "Review"
        }}
      </span>
    </button>
    <!-- Connecting Line -->
    <div
      [class.bg-blue-500]="step < currentStep"
      [class.bg-gray-300]="step >= currentStep"
      class="hidden md:block max-w-16 w-full mx-2 top-4 grow left-4 right-4 h-[.05rem]"
      *ngIf="step !== 4"
    ></div>
  </div>
</div>

<!-- Stepper Content -->
<div
  class="p-3 max-w-3xl bg-transparent mx-auto overflow-y-auto scrollbar max-h-[55vh]"
>
  <!-- Step 1 -->
  <div *ngIf="currentStep === 1">
    <form [formGroup]="formStep1" class="space-y-6">
      <div class="space-y-4">
        <label
          class="block text-sm font-medium text-gray-700 dark:text-gray-300"
        >
          Select Docker Image Option
        </label>
        <div class="space-y-6">
          <label class="mb-4 flex items-center h-10 gap-2 cursor-pointer">
            <app-radio-button
              [control]="formStep1.get('imageOption') | formControl"
              [title]="'Use a Default System Image'"
              [value]="'default'"
              class="grow"
            ></app-radio-button>
          </label>
          <div class="w-full block">
            <app-dropdown
              *ngIf="formStep1.value.imageOption === 'default'"
              [options]="defaultImages"
              [control]="formStep1.get('defaultImage') | formControl"
              [padding]="'p-2'"
              dropDownName="Select an image"
            >
            </app-dropdown>
          </div>

          <label class="mb-4 flex items-center h-10 gap-2 cursor-pointer">
            <app-radio-button
              [control]="formStep1.get('imageOption') | formControl"
              [title]="'Clone an Existing Machine'"
              [value]="'clone'"
              class="grow"
            ></app-radio-button>
          </label>
          <div class="w-full block">
            <app-dropdown
              *ngIf="formStep1.value.imageOption === 'clone'"
              [options]="existingMachines"
              [control]="formStep1.get('cloneMachine') | formControl"
              [padding]="'p-2'"
              dropDownName="Select a machine to clone"
            >
            </app-dropdown>
          </div>

          <div
            *ngIf="formStep1.get('cloneMachine')?.errors?.['cloneMachine']"
            class="text-red-500 text-sm mt-1"
          >
            {{ formStep1.get('cloneMachine')?.errors?.['cloneMachine'] }}
          </div>

          <label class="flex items-center h-10 gap-2 cursor-pointer">
            <app-radio-button
              [control]="formStep1.get('imageOption') | formControl"
              [title]="'Upload a Dockerfile'"
              [value]="'upload'"
              class="grow"
            ></app-radio-button>
          </label>
          <div
            *ngIf="formStep1.value.imageOption === 'upload'"
            class="flex gap-2 w-full text-center items-center"
          >
            <mat-icon svgIcon="dockerfile"></mat-icon>
            <input
              type="file"
              (change)="onFileSelected($event)"
              accept="application/octet-stream"
              placeholder="Choose File"
              class="w-full cursor-pointer text-gray-700 dark:text-gray-300 file:py-2 file:px-4 file:rounded-md file:border-0 file:bg-blue-500 file:text-white hover:file:bg-blue-600"
            />
          </div>
          <div
            *ngIf="formStep1.get('dockerfile')?.errors?.['invalidDockerfile']"
            class="text-red-500 text-sm mt-1"
          >
            {{ formStep1.get('dockerfile')?.errors?.['invalidDockerfile'] }}
          </div>

          <label class="flex items-center h-10 gap-2 cursor-pointer">
            <app-radio-button
              [control]="formStep1.get('imageOption') | formControl"
              [title]="'Specify Docker Hub Image URL'"
              [value]="'url'"
              class="grow"
            ></app-radio-button>
          </label>
          <div class="relative" *ngIf="formStep1.value.imageOption === 'url'">
            <input
              class="relative mt-1 block w-full transition rounded-lg border border-blue-200/50 px-4 pl-12 pr-10 py-2 text-left shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 dark:border-none dark:border-blue-200/50 dark:bg-gray6 dark:text-gray-300 dark:shadow-sm focus:dark:shadow-blue-200 dark:focus:ring-blue-800"
              *ngIf="formStep1.value.imageOption === 'url'"
              type="text"
              id="dockerHubUrl"
              formControlName="dockerHubUrl"
              placeholder="container url.."
            />
            <!-- {{ formStep1.get("dockerHubUrl")?.errors | json }} -->
            @if (formStep1.get('dockerHubUrl')?.errors !== null ||
            formStep1.get('dockerHubUrl')?.errors?.['pattern'] ) {
            <mat-icon
              class="absolute !w-7 !h-7 inset-0 right-0 left-2 top-2 text-gray-400 dark:text-gray-300"
              svgIcon="package_2"
            ></mat-icon>
            } @else {
            <mat-icon
              svgIcon="dockerimage"
              class="absolute !w-8 !h-8 inset-0 right-0 left-2 top-1"
            ></mat-icon>
            }

            <mat-icon
              class="absolute !w-6 !h-6 text-2xl right-2 top-2 text-green-500 rounded-full"
              >check</mat-icon
            >
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Step 2 -->
  <div *ngIf="currentStep === 2">
    <form [formGroup]="formStep2" class="space-y-6">
      <div>
        <label
          class="block text-sm font-medium text-gray-700 dark:text-gray-300"
          >Machine Name</label
        >
        <input
          class="relative mt-1 block w-full transition rounded-lg border border-blue-200/50 px-4 pr-10 py-2 text-left shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 dark:border-none dark:border-blue-200/50 dark:bg-gray6 dark:text-gray-300 dark:shadow-sm focus:dark:shadow-blue-200 dark:focus:ring-blue-800"
          type="text"
          id="machineName"
          formControlName="machineName"
          placeholder="container name.."
        />
      </div>
      <div class="flex items-center justify-between gap-4 lg:gap-10">
        <div class="grow">
          <label
            class="mb-3 block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Region</label
          >
          <app-dropdown
            [options]="regions"
            [control]="formStep2.get('region') | formControl"
            [padding]="'p-2'"
            dropDownName="Select a region"
          >
          </app-dropdown>
        </div>
        <div class="grow">
          <label
            class="mb-3 block text-sm font-medium text-gray-700 dark:text-gray-300"
            >CPU Kind</label
          >
          <app-dropdown
            [options]="CPUTypes"
            [control]="formStep2.get('cpukind') | formControl"
            [padding]="'p-2'"
            (select)="onCPUTypeChange($event)"
            dropDownName="Select CPU Type"
          >
          </app-dropdown>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >CPU Cores</label
          >
          <input
            class="relative mt-1 block w-full transition rounded-lg border border-blue-200/50 px-4 pr-10 py-2 text-left shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 dark:border-none dark:border-blue-200/50 dark:bg-gray6 dark:text-gray-300 dark:shadow-sm focus:dark:shadow-blue-200 dark:focus:ring-blue-800"
            type="number"
            id="cpuCores"
            formControlName="cpuCores"
            placeholder="2.."
          />
        </div>
        <div>
          <label
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Memory (MB)</label
          >
          <input
            class="relative mt-1 block w-full transition rounded-lg border border-blue-200/50 px-4 pr-10 py-2 text-left shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 dark:border-none dark:border-blue-200/50 dark:bg-gray6 dark:text-gray-300 dark:shadow-sm focus:dark:shadow-blue-200 dark:focus:ring-blue-800"
            type="number"
            id="memory"
            formControlName="memory"
            placeholder="256.."
          />
        </div>
      </div>
      <div>
        <label class="flex items-center">
          <app-checkbox
            class="mr-2 h-8 font-code inline-flex justify-start w-full"
            [control]="formStep2.get('autoStart') | formControl"
            [title]="'AutoStart'"
            (change)="onCheckBoxChange()"
          ></app-checkbox>
        </label>
      </div>
      <div>
        <label
          class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-300"
          >Auto-Stop</label
        >
        <app-dropdown
          [options]="autoContainerOptions"
          [control]="formStep2.get('autoStop') | formControl"
          [padding]="'p-2'"
          dropDownName="Select auto-stop"
        >
        </app-dropdown>
      </div>
      <div formArrayName="environmentVariables" class="space-y-2">
        <div
          *ngFor="let envVar of environmentVariables.controls; let i = index"
          [formGroupName]="i"
          class="flex gap-2 items-center"
        >
          <input
            formControlName="key"
            placeholder="Key"
            class="flex-1 mt-1 block w-full transition rounded-lg border border-blue-200/50 px-4 pr-10 py-2 text-left shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 dark:border-none dark:border-blue-200/50 dark:bg-gray6 dark:text-gray-300 dark:shadow-sm focus:dark:shadow-blue-200 dark:focus:ring-blue-800"
          />
          <input
            formControlName="value"
            placeholder="Value"
            class="flex-1 relative mt-1 block w-full transition rounded-lg border border-blue-200/50 px-4 pr-10 py-2 text-left shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 dark:border-none dark:border-blue-200/50 dark:bg-gray6 dark:text-gray-300 dark:shadow-sm focus:dark:shadow-blue-200 dark:focus:ring-blue-800"
          />
          <button
            type="button"
            (click)="removeEnvVar(i)"
            class="text-red-500 hover:text-red-700 transition hover:bg-red-200/20 dark:hover:bg-red-200/10 rounded-full p-2 leading-[.1rem] focus:bg-red-400/20 dark:focus:bg-red-400/20"
          >
            <mat-icon class="">delete</mat-icon>
          </button>
        </div>
        <button
          type="button"
          (click)="addEnvVar()"
          class="mt-2 text-blue-500 hover:text-blue-700 transition"
        >
          Add Environment Variable
        </button>
      </div>
    </form>
  </div>

  <!-- Step 3 -->
  <div *ngIf="currentStep === 3">
    <form [formGroup]="formStep3" class="space-y-6">
      <div>
        <div class="flex flex-wrap items-center justify-between">
          <label
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
          >
            fly.toml Configuration (Optional)
          </label>
          <!-- Set a radio button Enabled/Disabled -->
          <app-radiotoggle
            *ngIf="formStep3.get('flyToml')?.value"
            title="View/Edit"
            identity="viewEdit"
            [control]="formStep3.get('flyTomlViewer') | formControl"
          ></app-radiotoggle>
        </div>

        @if(formStep3.get('flyTomlViewer')?.value &&
        formStep3.get('flyToml')?.value) {
        <div
          class="block prose prose-code:dark:bg-[rgb(34 34 34)] prose-code:bg-pink-100 prose-img:rounded-xl prose-headings:text-[#4368d6] prose-headings:dark:text-[#6587ed] prose-a:text-blue-600 hover:prose-a:text-blue-500 w-full max-w-full rounded-lg bg-gray-100 px-4 py-2 text-lg text-gray-900 dark:bg-gray6 dark:text-gray1"
        >
          <markdown
            clipboard
            [clipboardButtonComponent]="clipboardButton"
            class="tomltable"
            [data]="flyTomlMarkdown | language : 'toml'"
          ></markdown>
        </div>
        } @else {
        <!-- <div [innerHTML]=" | language : 'typescript' | markdown : { emoji: true, inline: true } | async"></div> -->
        <textarea
          formControlName="flyToml"
          rows="5"
          class="mt-1 block w-full scrollbar transition rounded-lg border border-blue-200/50 px-4 pr-10 py-2 text-left shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 dark:border-none dark:border-blue-200/50 dark:bg-gray6 dark:text-gray-300 dark:shadow-sm focus:dark:shadow-blue-200 dark:focus:ring-blue-800"
        ></textarea>
        }
      </div>
    </form>
  </div>

  <!-- Step 4 -->
  <div *ngIf="currentStep === 4">
    <div class="space-y-4">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-100">
        Configuration Summary
      </h3>
      <div
        class="block prose prose-code:dark:bg-[rgb(34 34 34)] prose-code:bg-pink-100 prose-img:rounded-xl prose-headings:text-[#4368d6] prose-headings:dark:text-[#6587ed] prose-a:text-blue-600 hover:prose-a:text-blue-500 w-full max-w-full rounded-lg bg-gray-100 px-4 py-2 text-lg text-gray-900 dark:bg-gray6 dark:text-gray1"
      >
        <markdown
          *ngIf="currentStep === 4"
          [data]="getConfiguration() | json | language : 'json'"
        ></markdown>
      </div>
    </div>
    <!-- <div class="mt-6 flex justify-between">
      <button
        (click)="prevStep()"
        class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 transition"
      >
        Back
      </button>
      <button
        (click)="deploy()"
        [disabled]="isDeploying"
        class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 disabled:bg-gray-400 disabled:cursor-not-allowed transition"
      >
        <span *ngIf="!isDeploying">Deploy</span>
        <span *ngIf="isDeploying" class="animate-spin inline-block">⏳</span>
      </button>
    </div>
  </div> -->
  </div>
</div>
