# Compiled JavaScript files
/lib
# Remove lib js files

# TypeScript v1 declaration files
typings/

# remove credentials
credentials.json

# Node.js dependency directory
node_modules/
dist
*.local

.env
