.operation-blue {
    @apply bg-blue-600/[.8] hover:bg-blue-600/[0.5] focus:bg-blue-900/[0.8];
}
.operation-red {
    @apply bg-red-600/[.8] hover:bg-red-600/[0.5] focus:bg-red-900/[0.8];
}

.operation-cyan {
    @apply bg-cyan-600/[.8] hover:bg-cyan-600/[0.5] focus:bg-cyan-900/[0.8];
}
.operation-deep-orange {
    @apply bg-deep-orange-600/[.8] hover:bg-deep-orange-600/[0.5] focus:bg-deep-orange-900/[0.8];
}
.operation-emerald {
    @apply bg-emerald-600/[.8] hover:bg-emerald-600/[0.5] focus:bg-emerald-900/[0.8];
}
.operation-green {
    @apply bg-green-600/[.8] hover:bg-green-600/[0.5] focus:bg-green-900/[0.8];
}
.operation-gray {
    @apply bg-gray-600/[.8] hover:bg-gray-600/[0.5] focus:bg-gray-900/[0.8];
}

::ng-deep html.dark .mdc-text-field {
    --mdc-filled-text-field-container-color: #2a2e35;
}

::ng-deep .mdc-text-field {
    --mdc-filled-text-field-container-color: #ffffff;
}

.transl3d {
    --devsite-appearance-selector-menu-transform: translate3d(-0px, 0, 0);
}
