<aside
  appOutsideClick
  (outsideClick)="backDropClicked($event)"
  [@asideBarAnimation]="!barClosed ? 'open' : 'closed'"
  class="inset-0 left-0 top-20 flex flex-1 flex-col justify-between self-start overflow-auto overflow-y-hidden border-gray-200 bg-gray-100 px-0 transition-transform hover:touch-pan-y dark:border-gray-700 dark:bg-gray-900 sm:hover:overflow-y-visible lg:w-60 lg:pt-0 xs:hover:overflow-y-visible"
  aria-label="Sidebar"
  id="logo-sidebar"
  [ngClass]="
    resizeScreen
      ? ' fixed z-[1000] max-w-[15.3rem] h-[calc(100%_-_5rem)]' +
        (barClosed ? ' m-0 basis-0  ' : '  ')
      : ' sticky xs:h-[calc(100vh_-_115px)] sm:h-[calc(100vh_-_115px)] ' +
        (barClosed ? ' m-0 w-0 basis-0 ' : ' w-60 ')
  "
>
  <!-- -translate-x-100 translate-x-0  sticky  z-20-->
  <!-- overflow-auto overflow-y-hidden hover:overflow-y-scroll focus:overflow-y-scroll active:overflow-y-scroll-->
  <div
    class="sticky z-20 grow mt-2 block p-2 h-full bg-gray-100 dark:bg-gray-900 sm:mr-0 sm:h-auto xs:mr-0 xs:h-auto"
    [ngClass]="barClosed ? 'p-0' : ''"
  >
    <div
      *ngIf="isLoading"
      class="h-full flex-col flex justify-center items-center"
    >
      <div>
        <mat-spinner diameter="40" class="stroke-blue-700"></mat-spinner>
      </div>
    </div>
    <app-sidebar-nav
      [hidden]="isLoading"
      (sidebarClosed)="onSidebarClose($event)"
    ></app-sidebar-nav>
  </div>
</aside>

<div
  id="barblurid"
  *ngIf="!barClosed && resizeScreen"
  class="fixed left-0 right-0 z-[200] h-full w-full overflow-hidden bg-gray-600/[.06] backdrop-blur-[1px] dark:bg-gray-50/[.02]"
></div>
