<header
  class="fixed z-[60] w-full dark:border-b  border-gray-200/[0.08] dark:border-gray-800/[0.08] transition-all duration-500 ease-out"
  [ngClass]="{
    'shadow-lg shadow-purple-600/20 dark:opacity-[0.98] opacity-[0.98] h-[5rem] bg-gradient-to-br from-sky-400 via-blue-400 to-indigo-400 dark:from-gray-900 dark:via-gray-900 dark:to-gray-900': isScrolled,
    'bg-transparent h-28': !isScrolled,
  }">
  <div
    class="flex h-20 items-center justify-between px-4 md:px-8 lg:px-32 py-2">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      class="flex items-center justify-between space-x-2">
      <h1
        class="top-0 z-[3] -mt-4 mb-0 flex h-16 items-center bg-inherit font-['Google_Sans_Display',Roboto,Arial,sans-serif] text-[2.75rem] font-normal leading-[3.25rem] tracking-[0] dark:bg-inherit">
        <img
          src=""
          alt=""
          [srcset]="(isDarkMode$ | async) ? 'assets/logo-512x512_sky.png 2x' : 'assets/logo-512x512.png 2x'"
          class="mt-4 h-20 border-none max-h-[80%] xs:max-h-max" />
      </h1>
      <h1
        class="hidden text-2xl xs:block sm:block font-normal dark:font-bold font-['Allerta_Stencil',monospace] leading-[128px] select-none pointer-events-none z-50 bg-gradient-to-r from-[#f1f1f1] to-[#a72be9] dark:from-[#7e7e7e] dark:to-[#4A5C8F] bg-clip-text text-transparent drop-shadow-[1px_2px_0_rgba(0,0,0,0.25)] dark:drop-shadow-[4px_4px_0_rgba(0,0,0,0.25)]">
        DeepScrape
      </h1>
    </a>
    <div class="flex items-center gap-4">
      <!-- Dashboard button -->
      <a
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        class="flex flex-row flex-nowrap gap-1 hover:bg-[#30bfd523] focus:bg-blue-900/[0.2] dark:bg-transparent dark:hover:bg-[#c730d523] text-gray-300 font-bold py-2 px-4 rounded-md transition duration-300">
        Dashboard
      </a>

      <!-- Theme Mode Switch -->
      <app-theme-toggle
        [color]="{
          dark: '#ED64FFFF',
          light: '#fff'
        }"></app-theme-toggle>
    </div>
  </div>
</header>
<app-animated-bg class="z-50"></app-animated-bg>
<app-hero></app-hero>
<app-features></app-features>
<app-footer [color]="footerColor"></app-footer>
