@use "@angular/material" as mat;
@use "@dhutaryan/ngx-mat-timepicker" as mat-timepicker; // Added this line
// Plus imports for other components in your app.

// $mat-light-blue: #03a9f4;
// $mat-light-pink: #ff4081;
// $mat-light-warn: #ff8040;
// $mat-light-red: #f32424;

$my-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$blue-palette,
            tertiary: mat.$rose-palette
        ),
        density: (
            scale: 0
        )
    )
);

$my-theme-dark: mat.define-theme(
    (
        color: (
            theme-type: dark,
            primary: mat.$blue-palette,
            tertiary: mat.$rose-palette
        ),
        density: (
            scale: 0
        )
    )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
