<section
  id="features"
  class="relative py-20 bg-gradient-to-b from-white via-blue-200 to-indigo-400 dark:from-gray-900 dark:to-[#1a1a25]">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h2
        class="text-4xl md:text-5xl font-bold text-gray-900 mb-4 dark:text-gray-50">
        Powerful Features for
        <span
          class="bg-gradient-to-r from-deep-orange-600 to-amber-700 bg-clip-text text-transparent">
          Next-Gen Scraping
        </span>
      </h2>
      <p class="text-xl text-gray-600 max-w-3xl mx-auto dark:text-gray-400">
        Everything you need for deep web scraping, crawling, and intelligent
        data extraction at enterprise scale—without wasting money on excessive
        LLM tokens. Forget pointless LLM costs and enjoy blazing-fast, efficient
        performance.
      </p>
    </div>

    <!-- Features Content Wrapper with background -->
    <div class="relative z-10">
      <div class="mb-16">
        <h3
          class="text-2xl font-bold text-gray-900 dark:text-white mb-8 text-center">
          Core Features
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          @for(feature of coreFeatures; track $index) {
          <with-gradient-border
            class="rounded-lg group hover:shadow-xl transition-all duration-300 transform hover:-translate-y-2 border-0 shadow-lg"
            [color]="['#fb8c00', '#8b5cf6', '#3b82f6']"
            border-width="1.5px">
            <div
              class="bg-gradient-to-br from-blue-50 to-indigo-50 dark:bg-gray-900/90 dark:bg-none w-full h-full rounded-[4px]">
              <div class="text-center pb-4 flex flex-col space-y-1.5 p-6">
                <div
                  class="w-16 h-16 mx-auto mb-4 bg-gradient-to-r from-deep-orange-600 to-orange-600 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform duration-300">
                  <lucide-angular
                    [img]="feature.icon"
                    class="h-8 w-8 text-white dark:stroke-white fill-none"></lucide-angular>
                </div>
                <h4
                  class="text-xl font-semibold text-gray-900 dark:text-gray-100">
                  {{ feature.title }}
                </h4>
              </div>
              <div class="p-6 pt-0">
                <p
                  class="text-gray-600 text-center leading-relaxed dark:text-gray-500">
                  {{ feature.description }}
                </p>
              </div>
            </div>
          </with-gradient-border>
          }
        </div>
      </div>

      <div>
        <h3
          class="text-2xl font-bold text-gray-900 dark:text-gray-100 mb-8 text-center">
          Advanced Capabilities
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <with-gradient-border
            *ngFor="let feature of advancedFeatures"
            class="rounded-lg group hover:shadow-xl transition-all duration-300 transform hover:-translate-y-2 border-0 shadow-lg"
            [color]="['#00bcd4', 'rgb(59, 130, 246)']"
            border-width="1.5px">
            <div
              class="bg-gradient-to-br from-blue-50 to-indigo-50 dark:bg-gray-900 dark:bg-none w-full h-full rounded-[4px]">
              <div class="text-center pb-4 flex flex-col space-y-1.5 p-6">
                <div
                  class="w-16 h-16 mx-auto mb-4 bg-gradient-to-r from-blue-600 to-indigo-600 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform duration-300">
                  <lucide-angular
                    [img]="feature.icon"
                    class="h-8 w-8 text-white dark:stroke-white fill-none"></lucide-angular>
                </div>
                <h4
                  class="text-xl font-semibold text-gray-900 dark:text-gray-300">
                  {{ feature.title }}
                </h4>
              </div>
              <div class="p-6 pt-0">
                <p
                  class="text-gray-600 text-center leading-relaxed dark:text-gray-500">
                  {{ feature.description }}
                </p>
              </div>
            </div>
          </with-gradient-border>
        </div>
      </div>
      <!-- Blurred Background Effects -->
      <div class="absolute inset-0 pointer-events-none -z-10">
        <div
          class="absolute top-1/4 left-[10%] sm:left-1/4 w-48 sm:w-72 h-48 sm:h-72 bg-purple-500 dark:bg-purple-500/50 rounded-full filter blur-3xl animate-pulse"></div>
        <div
          class="absolute top-1/4 right-[5%] sm:right-1/2 w-56 sm:w-96 h-56 sm:h-96 bg-blue-500 dark:bg-blue-500/50 rounded-full filter blur-3xl animate-pulse delay-1000"></div>
        <div
          class="absolute bottom-[10%] left-[5%] sm:left-1/3 w-52 sm:w-80 h-52 sm:h-80 bg-cyan-500 dark:bg-sky-500/50 rounded-full filter blur-3xl animate-pulse delay-2000"></div>
      </div>
    </div>
  </div>
</section>
